*{
    margin: 0%;
    padding:0%;
}
.headings {
    border: 1px solid black;
    color: rgb(94, 94, 208);
    text-align: center;
}
.buttons {

  background-color: rgba(51, 51, 51, 0.05);
  border-radius: 8px;
  border-width: 0;
  color: #333333;
  cursor: pointer;
  display: inline-block;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  margin: 0;
  padding: 10px 12px;
  text-align: center;
  transition: all 200ms;
  vertical-align: baseline;
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}
.menu{
    text-align: center;
}
li {
    text-align: center;
    display: inline;
    margin-left: 10px;
}
   
.menu2{
    color: blueviolet;
    text-align: center;
}

p {
    margin: 5px;
    text-align: center;
}
